#epiza-post-wrapper {
  display: flex;
  align-items: flex-start;
}

#epiza-post-content {
  width: 70%;
}

#epiza-poster {
  width: 30%;
  padding-right:3rem;
}

body.rtl #epiza-poster {
  padding-right:0;
  padding-left:3rem;
}

#epiza-post-wrapper.epiza-one-column {
  flex-direction: column;
}

#epiza-post-wrapper.epiza-one-column #epiza-post-content {
  width:100%;
}

#epiza-post-wrapper.epiza-one-column #epiza-poster {
  width:100%;
  padding:0 0 3rem 0;
}

#epiza-poster img {
  width:100%;
  height: auto;
}

.epiza-user-score {
  display: flex;
  align-items: center;
}

.epiza-user-score img {
  width:1.2rem;
  height: auto;
  margin-right:5px;
}

body.rtl .epiza-user-score img {
  margin-right:0;
  margin-left:5px;
}

#epiza-post-content p {
  margin:0 0 1rem 0;
}

ul.epiza-details-list {
  list-style: none !important;
  margin-left:0 !important;
  margin-right:0 !important;
  padding-left:0 !important;
  padding-right:0 !important;
}

ul.epiza-details-list li {
  margin:0 0 1rem 0;
}

body.rtl .epiza-details-list li,
body.rtl .epiza-genres p,
body.rtl .epiza-actors p{
  display: flex;
  flex-wrap: wrap;
}

.epiza-tmdb-credit {
    display: flex;
    justify-content: flex-end;
    font-weight: bold;
}

@media only screen and (max-width: 782px) {
  #epiza-post-wrapper {
    flex-direction: column;
  }

  #epiza-post-wrapper #epiza-post-content {
    width:100%;
  }

  #epiza-post-wrapper #epiza-poster,
  #epiza-post-wrapper.epiza-one-column #epiza-poster {
    width:100%;
    padding:0 0 2rem 0;
  }
}